#root {
  height: 100%;
}
#root .header {
  background-color: #bae7ff;
}
#root .header .logo {
  position: relative;
}
#root .header .logo img {
  width: 150px;
}
#root .header .logo .title {
  font-size: 28px;
  font-weight: bold;
}
#root .sider-content-layout {
  background-color: #fff;
}
#root .sider-content-layout .sider {
  height: 100%;
  margin-right: 8px;
}
#root .multiple-delete {
  margin: 8px;
}
