#root {
  height: 100%;
}
#root .header {
  background-color: #bae7ff;
}
#root .header .logo {
  position: relative;
  left: -70px;
}
#root .header .logo img {
  width: 142px;
  height: 68px;
}
#root .header .logo .title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
#root .sider-content-layout {
  background-color: #fff;
}
#root .sider-content-layout .sider {
  height: 100%;
  margin-right: 8px;
}
#root .multiple-delete {
  margin: 8px;
}
