.login {
  height: 100vh;
}
.login .login-form {
  border-radius: 10px;
  z-index: 99;
  width: 380px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 2px #ccc;
  margin: 1em 0;
  padding: 1em 2em;
  margin: 0 auto;
  position: relative;
  top: 30%;
  overflow: hidden;
}
.login .login-form .forget {
  float: right;
}
.login .login-form .register {
  float: right;
}
