.register-box {
  height: 100%;
}
.register-box .register-form {
  z-index: 99;
  border-radius: 10px;
  width: 380px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 2px #ccc;
  margin: 1em 0;
  padding: 1em 2em;
  margin: 0 auto;
  position: relative;
  top: 10%;
}
